header {
    background-color: $kleur2;
    padding: 20px;
    text-align: center;
    color: $kleur1;
    position: relative;
    top: 0%;
    left: 0%;
    height: 50px;
  }
  
  .header-content {
    
    float: right;
    margin: 15px;
  }